<div class="wrapper wrapper-content animated fadeInRight" ng-controller="SpriteSheetCtrl as sprite">
  <div class="row">
    <div class="col-lg-12">
      
      <div class="ibox">
        <div class="ibox-title">
          <h5>Spritesheet Serializer for CreateJS</h5>
          <div ibox-tools control="sprite.box"></div>
        </div>
        <div class="ibox-content">
          <form class="form-horizontal" name="form" ng-submit="sprite.rebuild($event)">
            <div class="form-group">
              <label for="ipt_code" class="col-sm-2 control-label">JSON</label>
              <div class="col-sm-10">
                <textarea rows="10" id="ipt_code" class="form-control" ng-model="sprite.inputCode" required drag-n-drop></textarea>
                <span class="help-block"> Paste content<span ng-show="sprite.dragDrop"> or drop file</span> generated for <a href="http://createjs.com/" target="_blank">CreateJS <i class="fa fa-external-link"></i></a>. <b>Note:</b> keys in <code>animations</code> property must ended with numbers (eg. "ani0001"). </span>
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group" ng-class="{ 'has-error' : !form.cn.$valid }">
              <label for="ipt_class" class="col-sm-2 control-label">Class Name</label>
              <div class="col-sm-10">
                <input type="text" id="ipt_class" name="cn" class="form-control" autocomplete="false" ng-model="sprite.inputClass" ng-trim="true" ng-pattern="/^[a-zA-Z]\w+(\ [a-zA-Z]\w*)*$/" ng-change="sprite.formatClassname()" />
                <span class="help-block" ng-if="form.cn.$valid"> Include <a href="http://git.wlash.com/snippets/3" target="_blank">animate.js <i class="fa fa-external-link"></i></a> file in your project, and initialize object using <code>genAni(jsonObj);</code> when JSON file has been loaded. Then, you may create Sprite instance with <code>var sprite = new ani.{{ sprite.inputClass || 'className'}}();</code>. </span>
                <span class="help-block" ng-if="!form.cn.$valid"> <i class="fa fa-exclamation-triangle"></i> Class name must start with letter and at least 2 characters length. Only letters and numbers allowed. </span>
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
              <label for="ipt_prefix" class="col-sm-2 control-label">Image Prefix</label>
              <div class="col-sm-10">
                <input type="text" id="ipt_prefix" class="form-control" ng-model="sprite.inputPrefix" />
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
              <label for="" class="col-sm-2 control-label">Animations</label>
              <div class="col-sm-10">
                <div class="checkbox checkbox-inline">
                  <input type="checkbox" id="ipt_loop" ng-model="sprite.inputAniLoop">
                  <label for="ipt_loop"> Loop </label>
                </div>
                <div class="checkbox checkbox-inline">
                  <input type="checkbox" id="ipt_once" ng-model="sprite.inputAniOnce">
                  <label for="ipt_once"> Once </label>
                </div>
                <hr />
                <div class="checkbox">
                  <input type="checkbox" id="ipt_default" ng-model="sprite.inputDefault">
                  <label for="ipt_default"> Default Animation Sequence </label>
                </div>
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
              <div class="col-sm-10 col-sm-offset-2">
                <div class="checkbox">
                  <input type="checkbox" id="ipt_format" ng-model="sprite.inputCompress">
                  <label for="ipt_format"> Compress output code </label>
                </div>
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
              <div class="col-sm-4 col-sm-offset-2">
                <button class="btn btn-primary" ng-disabled="sprite.waiting" autocomplete="off">GO</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      
      <div class="ibox">
        <div class="ibox-title">
          <h5>Output</h5>
        </div>
        <div class="ibox-content">
          <ui-codemirror ui-codemirror-opts="editorOptions" ng-model="sprite.outputCode"></ui-codemirror>
          <button class="btn btn-default m-t-md" ng-show="sprite.backBtn" ng-click="sprite.reset()"> Back </button>
        </div>
      </div>
      
    </div>
  </div>
</div>