<div class="wrapper wrapper-content animated fadeInRight" ng-controller="SpriteSheetCtrl">
  <div class="row">
    <div class="col-lg-12">
      
      <div class="ibox">
        <div class="ibox-title">
          <h5>Spritesheet Serializer for CreateJS</h5>
          <div ibox-tools control="iboxTools"></div>
        </div>
        <div class="ibox-content">
          <form class="form-horizontal" name="form" ng-submit="rebuild($event)">
            <div class="form-group">
              <label for="ipt_code" class="col-sm-2 control-label">JSON</label>
              <div class="col-sm-10">
                <textarea rows="10" id="ipt_code" class="form-control" ng-model="inputCode" required drag-n-drop></textarea>
                <span class="help-block" ng-if="!dragDrop"> Paste JSON content generated for <a href="http://createjs.com/" target="_blank">CreateJS <i class="fa fa-external-link"></i></a>. </span>
                <span class="help-block" ng-if="dragDrop"> Paste content or drop file generated for <a href="http://createjs.com/" target="_blank">CreateJS <i class="fa fa-external-link"></i></a>. </span>
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group" ng-class="{ 'has-error' : !form.cn.$valid }">
              <label for="ipt_class" class="col-sm-2 control-label">Class Name</label>
              <div class="col-sm-10">
                <input type="text" id="ipt_class" name="cn" class="form-control" autocomplete="false" ng-model="inputClass" pattern="^[a-zA-Z]\w+" />
                <span class="help-block" ng-if="form.cn.$valid"> Include <a href="http://git.wlash.com/snippets/3" target="_blank">animate.js <i class="fa fa-external-link"></i></a> file in your project, and initialize object using <code>genAni(jsonData);</code> when JSON file has been loaded. Then, you may create Sprite instance using <code>var sprite = new ani.{{ inputClass || 'className'}}();</code>. </span>
                <span class="help-block" ng-if="!form.cn.$valid"> The class name must start with letter and at least 2 characters length. </span>
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
              <label for="ipt_prefix" class="col-sm-2 control-label">Image Prefix</label>
              <div class="col-sm-10">
                <input type="text" id="ipt_prefix" class="form-control" ng-model="inputPrefix" />
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
              <label for="" class="col-sm-2 control-label">Default Animation</label>
              <div class="col-sm-10">
                <div class="checkbox">
                  <input type="checkbox" id="ipt_default" ng-model="inputDefault">
                  <label for="ipt_default"> Enable </label>
                </div>
                <hr ng-if="inputDefault" />
                <div class="radio radio-inline" ng-show="inputDefault">
                  <input type="radio" id="ipt_loop" value="loop" ng-model="inputAnimation">
                  <label for="ipt_loop"> Loop </label>
                </div>
                <div class="radio radio-inline" ng-show="inputDefault">
                  <input type="radio" id="ipt_once" value="once" ng-model="inputAnimation">
                  <label for="ipt_once"> Once </label>
                </div>
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
              <div class="col-sm-10 col-sm-offset-2">
                <div class="checkbox">
                  <input type="checkbox" id="ipt_format" ng-model="inputCompress">
                  <label for="ipt_format"> Compress output code </label>
                </div>
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
              <div class="col-sm-4 col-sm-offset-2">
                <button class="btn btn-primary" ng-disabled="waiting" autocomplete="off">GO</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      
      <div class="ibox">
        <div class="ibox-title">
          <h5>Output</h5>
        </div>
        <div class="ibox-content">
          <ui-codemirror ui-codemirror-opts="editorOptions" ng-model="outputCode"></ui-codemirror>
        </div>
      </div>
      
    </div>
  </div>
</div>